@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Indie Flower', cursive;
}
ul.ba {
    list-style-type: none;
}
body{
    position:relative;
    min-height: 100vh; 
    width: 100%;
    background: rgb(189, 189, 189);
    overflow:hidden;

}
.sidebar{
position:fixed;
top: 0;
left: 0;
height: 100%;
width: 68px;
background: #11101d;
padding:5px 12px;
border-radius: 20px;
transition:all 0.5s ease;
}
.sidebar.active{
width: 240px;
}
.sidebar .logo_content .logo{
 color:rgb(236, 228, 228);
 display: flex;
 height: 50px; 
 width: 100%;
 align-items: end;  
 opacity: 0;
 pointer-events: none;
}
.sidebar.active .logo_content .logo{
 opacity:1;   
 pointer-events: none;
}
.logo_content .logo i{
    font-size: 50px;
    margin-right: 5px;
}
.logo_content .logo .logo_name{
    font-size: 20px;
    margin-right: 400;
}
.sidebar #btn{
    position: absolute;
    color:#fff;
    left:50%;
    top:6px;
    font-size: 20px;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    transform:translate(-50%)
}
.sidebar.active #btn{
    left:90%; 
}
.sidebar ul{
    margin-top: 10px;
}
.sidebar ul li{
position:relative;
height: 49px;
width: 100%;
margin: 0px 10px;
list-style: none ;
line-height: 0px;

}

.sidebar ul li .tooltips{
    position: absolute;
    left:122px;
    top:0;
    transform: translateY(-50%,-50%);
    border-radius: 6px;
    height:35px;
    width: 222px;
    background: rgb(57, 210, 248);
    line-height: 35px ;
    text-align: center;
    box-shadow: 0 6px  10px rgba(5, 61, 75, 0.7);
    transition: 0s;
    opacity: 0;
    pointer-events: none;
    display:block;
}
.sidebar ul li:hover .tooltips{
    transition: all 0.5s ease;
    top:10%;
    opacity:1 ;
    pointer-events: none;
}
.sidebar.active ul li:hover .tooltips{
display:none;
}

.sidebar ul li a{
    color:#fff;
    display:flex ;
    align-items: center;
    text-decoration: none;
    transition:all 0.7s ease;
    border-radius: 12px;
    white-space: nowrap;
}

.sidebar ul li a:hover{
    color:rgb(17, 16, 29);
    background: rgb(57, 210, 248);
    border: 4px ridge rgba(17, 16, 29, 1);
    border-radius: 20px;
    transform: translateX(+20%);
}
.sidebar ul li a i{
    height:50px;
    min-width:50px;
    border-radius: 1000px;
    line-height: 50px ;
    text-align: top;
    transform: translateX(+0%);
    font-size:20px;
}
.sidebar .links_name{
    opacity: 0;
    pointer-events: none;
}
.sidebar.active .links_name{
    opacity: 1;
    pointer-events: auto;
}
.sidebar .profile_content{
    position: absolute;
    color:#fff;
    bottom: 140px;
    left:0;
    width: 100%;

    
}
.sidebar .profile_content .profil{
    position: relative;
    padding: 10px 6px;
    height: 90px;
    
}
.sidebar .profile_content .profil .profile_detail{
display:flex;
align-items: center;
background: #1d1b31;
border-radius: 20px;
}
.sidebar .profile_content .profil .dit_auteur{
    margin-left: 55px;  
    font-size: 30px;
}
.profil .profile_detail img{
    height: 40px;
    width:  40px ;
    object-fit: cover;
    border-radius: 12px;  
    margin-right: 10px;  
}
.profil.profile_detail .name_job3{
    font-size: 10px;
}
.profil.profil_detail .name3{
font-size: 15px;
width: 400;
}
.profil .profil_detail .job3{
    font-size: 12px;
    transform:translate()
}
.Pdep{
    position: absolute;
    height:100%;
    width: calc(100%-240px);
    left: 240px;
}
.Pdep .text{
    font-size: 25px;
    font-weight:900;
}